/* Klaviyo */
a.btn.klaviyo-bis-trigger {
  width: 100% !important;
  margin-top: 20px !important;
  padding-block-start: 1.075rem;
  padding-block-end: 1.075rem;
  padding-inline-start: var(--spacing-10);
  padding-inline-end: var(--spacing-10);
  font-size: 1em;
}

/* Yotpo */
.yotpo.yotpo-main-widget {
    width: 80%;
}

.yotpo-label.yotpo-small-box {
    display: none !important;
}

.color-swatch{
  background-size: contain;
  border: 1px solid #e9e9e9;
}