a.btn.klaviyo-bis-trigger {
    width: 100% !important;
    margin-top: 20px !important;
    padding-block-start: 1.075rem;
    padding-block-end: 1.075rem;
    padding-inline-start: var(--spacing-10);
    padding-inline-end: var(--spacing-10);
}