/* Klaviyo */
a.btn.klaviyo-bis-trigger {
  width: 100% !important;
  margin-top: 20px !important;
  padding-block-start: 1.075rem;
  padding-block-end: 1.075rem;
  padding-inline-start: var(--spacing-10);
  padding-inline-end: var(--spacing-10);
  font-size: 1em;
}

/* Yotpo */
.yotpo.yotpo-main-widget {
    width: 100% !important;
    max-width: var(--container-narrow-max-width);
}

.yotpo-label.yotpo-small-box {
    display: none !important;
}

.yotpo .text-m{
  font: var(--text-font-style) 400 0.9em / 1.6 var(--text-font-family) !important;
  margin-left: 3px;
}

.product .yotpo{
  margin: -15px 0 -10px;
}

.color-swatch{
  background-size: contain;
  border: 1px solid #e9e9e9;
  margin: 0 1px 1px;
  width: 45px;
  height: 45px;
}